{% extends 'djukebox/base.html' %}
{% block body %}
<div class="span2 thumbnail" style="height: 25%">
<!-- album art to go here -->
<h5>{{ album.title }}</h5><br />
<p>{{ album.artist }} <!-- other album details --></p>
</div>
<div class="span10">
{% for track in tracks %}
 <div id="{{ track.id }}" class="thumbnail track_item">
    <span>{{ track }}</span>
  </div>
{% endfor %}
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('.track_item').dblclick(function() {
        parent.postMessage(this.id, "http://" + window.location.hostname);
    });
});
</script>
{% endblock %}
