<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Djukebox</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/djukebox.css" />
  </head>
  <body>
    {% block body %}{% endblock %}

    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_URL}}js/bootstrap.min.js"></script>
    {% block jquery_scripts %}{% endblock %}
  </body>
</html>
