{% extends 'djukebox/base.html' %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}djukebox/css/djukebox.css" />
{% endblock extra_css %}

{% block body %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{% url djukebox-root %}#">Djukebox</a>
    </div>
  </div>
</div>
<div id="main" class="container" style="height: 90%">
  <div class="row" style="height: 100%">
    <div class="span2 sidebar">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url djukebox-root %}#">Home</a></li>
        <li><a href="{% url djukebox-root %}#albums/">Albums</a></li>
        <li><a href="{% url djukebox-root %}#artists/">Artists</a></li>
        <li><a href="{% url djukebox-root %}#tracks/">All Songs</a></li>
        <li><a id="upload_link" style="cursor:pointer">Upload</a></li>
        <li><a href="{% url djukebox-logout %}">Logout</a></li>
      </ul>
    </div>
    <div class="span10" id="content" name="content" style="height: 100%">
    </div>
  </div>
  <div class="row">
    <div class="span12" id="audio_player_div">
      <audio id="audio_player" preload="auto" controls="controls" autoplay="">
	<source id="ogg_source" type="audio/ogg" />
	<source id="mp3_source" type="audio/mp3" />
      </audio>
    </div>
  </div>
  <div class="alert" style="display: none" id="upload_status_alert">
    <a class="close" href="#">&times;</a>
    <span id="upload_status_message"></span>
  </div>

  <div id="progressmodal" class="modal hide span3" data-backdrop="false" style="top:42px; left: auto; right:0px; margin: 10px; padding: 0px">
    <div class="modal-header">
      <h3>Upload Progress</h3>
    </div>
    <div class="modal-body">
      <div id="uploadprogress" class="progress progress-striped span2">
	<div id="pbar" class="bar" style="width: 0%;"></div>
      </div>
    </div>
  </div>

  <div style="display:hidden;">
    <form name="upload_file" enctype="multipart/form-data" method="post" action="{% url djukebox-iframe-upload %}" target="track_upload">
        <input id="id_file" type="file" name="file" />
      </form>
  </div>

  <div id="confirm_delete_modal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Delete This Track?</h3>
    </div>
    <div class="modal-body">
      <!-- maybe some js should drop the track name in here -->
      <p>Are you sure you want to delete this track?</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a id="confirm_delete_button" href="#" class="btn btn-danger" data-dismiss="modal">Delete</a>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{STATIC_URL}}djukebox/js/handlebars.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}djukebox/js/jquery-csrf.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}djukebox/js/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}djukebox/js/jquery.fileupload.js"></script>
<!-- <script defer src="http://balupton.github.com/history.js/scripts/bundled/html5/jquery.history.js"></script> -->

<script type="text/javascript">
$(document).ready(function() {

    //obj to store pre-compiled templates
    var compiled_templates = new Object();
    {# this template is inlined as documented above #}
    compiled_templates.FILE_UPLOAD = Handlebars.compile($('#upload-template').html());

    var ARTISTLIST = 'artist-list.js';
    var ARTISTALBUMS = 'artist-albums.js';
    var ALBUM = 'album.js';
    var ARTISTTRACKS = 'artist-tracks.js';
    var ALBUMLIST = 'album-list.js';
    var TRACKLIST = 'tracks.js';
    var TRACKDROPDOWN = 'track-dropdown.js'; // The drop down menu which displays for each track on any screen with tracks
    var BOOTSTRAPALERT = 'bootstrap-alert.js';

    function getTemplateAjax(file, partial, partialName) {
        var template;
        partial = typeof partial !== 'undefined' ? partial : false;

        return $.ajax({
                url: "{{ STATIC_URL }}djukebox/js/templates/" + file, //ex. js/templates/mytemplate.handlebars
                cache: true,
                dataType: "text",
                success: function(data) {
                    if(!partial) {
                        template = Handlebars.compile(data);
                        compiled_templates[file] = template;
                    } else {
                        Handlebars.registerPartial(partialName, data);
                    }
                },
         });
    }

    function switchView(template, context, callback){
        if(template in compiled_templates) {
            $('#content').html(compiled_templates[template](context));
            if(typeof callback === 'function') {
                callback();
            }
        } else {
            $.when(getTemplateAjax(template, context)).then(function() {
                switchView(template, context);
            });
        }
    }

    function artistAjax(artist_id) {
        return $.ajax({
                {% comment %}
                A bit of a kludge here.  Really we want api_dispatch_detail url
                but to get that we have to know the resource pk when the template is rendered,
                which we don't.  Fortunately the url is just the api_dispatch_list plus the pk.
                It could also be retrieved from the API with extra ajax calls, but I want to avoid
                that until it's necessary.
                {% endcomment %}
                url: "{% url api_dispatch_list resource_name='artist' api_name='v1' %}" + artist_id + "/",
                cache: true,
                dataType: "json",
                });
    }

    function albumsByArtistAjax(artist_id) {
        return $.ajax({
          url: "{% url api_dispatch_list resource_name='album' api_name='v1' %}",
          data: {"artist": artist_id, "details": "tracks"},
          cache: true,
          dataType: "json"
        });
    }

    function albumAjax(album_id) {
        return $.ajax({
            url: "{% url api_dispatch_list resource_name='album' api_name='v1' %}" + album_id + "/",
            data: {"details": "artist,tracks"},
            cache: true,
            dataType: "json"
        });
    }

    function albumsAjax() {
        return $.ajax({
            url: "{% url api_dispatch_list resource_name='album' api_name='v1' %}",
            data: {"details": "artist"},
            cache: true,
            dataType: "json"
        });
    }

    function bindDropdownMenuItems() {
        $('#main').on('click', '.playbutton', function(obj) {
            var parent = $(this).parents('.track_item');
            rebuildAudioPlayer(parent.attr("ogg"), parent.attr("mp3"));
        });

        $('#main').on('click', '.deletebutton', function() {
            // So far this seems to work ok even when the track is playing

            // this var gets used to make a closure two levels deep
            // since it needs to know which element actually triggered the delete
            var sender = $(this);
            $('#confirm_delete_button').click(function() {
                $.ajax({
                    url: sender.attr("url"),
                    type: "DELETE",
                    success: function(data) {
                       // remove from the html
                       // Delete buttons themselves or a parent should have
                       // a 'data-delete' attribute, which is the element which will be removed
                       // along with child elements
                       var deleteme = sender.closest('[data-delete]');
                       deleteme.remove();
                    },
                    error: function(data) {
                        // Include track name in the error message?
                        // replace this with noty?  It would be easier to make it look nice
                        var context = {'alert': {
                                          'class': 'alert-error',
                                          'header': '',
                                          'message': 'Error deleting track'
                                          }
                                       };
                        var alert = $(compiled_templates[BOOTSTRAPALERT](context));
                        $('#main').append(alert);
                        alert.bind('closed', function() {
                            $(this).remove();
                        });
                    },
                    complete: function() {
                        // Otherwise this ends up with multiple bindings of click
                        // and will execute the ajax query for every time it has
                        // been clicked since page load.
                        $('#confirm_delete_button').unbind('click');
                    }
               }); // close $.ajax()
            }); // close .click()

           // pop up the modal now that the delete function is bound
           // to the confirm delete button with correct url and element
           // to remove
           $('#confirm_delete_modal').modal();
        });
    }

    function bindUpload() {
        $('#id_file').hide();
        $('#upload_link').click(function() {
            $('#id_file').click();
        });

        $('#id_file').fileupload({
            dataType: 'json',
            done: function (e, data) {
                 $('#pbar').css(
                    'width',
                    '0%'
                );
                $('#progressmodal').modal('hide');

                $.each(data.result, function (index, file) {
                    //$('<p/>').text(file.name).appendTo(document.body);
                });
            },
            progressall: function(e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#pbar').css(
                    'width',
                    progress + '%'
                );
            },
            start: function(e, data) {
              $('#progressmodal').modal('show');
            },
        });
    }


    function getViewData() {
        var fragments = window.location.hash.replace('#', '').split("/");

        // makes ajax call to get correct view data based on the url fragment
        // and then calls switchView() to switch to the correct view
        switch(fragments[0]) {
          case 'album':
             $.when(albumAjax(fragments[1])).then(function(data) {
                 switchView(ALBUM, data);
             });
             break;

          case 'albums':
            $.when(albumsAjax()).then(function(data){
                switchView(ALBUMLIST, data);
            });
            break;

          case 'artist':
            $.when(artistAjax(fragments[1]), albumsByArtistAjax(fragments[1])).then(function(artist, albums){
              switchView(ARTISTALBUMS, {"artist": artist[0],
                                        "albums": albums[0].albums});
            });
            break;

          case 'artists':
            $.ajax({
                {% comment %}
                would think we could namespace this in case there are other tastypie api's in use.
                may have to settle for using a more descriptive name
                {% endcomment %}
                url: "{% url api_dispatch_list resource_name='artist' api_name='v1' %}",
                cache: true,
                dataType: "json",
                success: function(data) {
                    switchView(ARTISTLIST, data);
                }
             });
            break;

          case 'tracks':
            $.ajax({
                url: "{% url api_dispatch_list resource_name='track' api_name='v1' %}",
                data: {"details": "album,artist"},
                cache: true,
                dataType: "json",
                success: function(data) {
                    switchView(TRACKLIST, data}
             });
            break;

          default:
            $.ajax({
                url: "{% url api_dispatch_list resource_name='artist' api_name='v1' %}",
                cache: true,
                dataType: "json",
                success: function(data) {
                    switchView(ARTISTLIST, data);
                },});
        }
    }

    function rebuildAudioPlayer(ogg_url, mp3_url) {
        //rebuild the player since just changing src properties is flakey in default players
        $("#audio_player").remove();

        var player = $("<audio>", {
            id: "audio_player",
            controls: "controls",
            preload: "auto"
        });

        if(ogg_url) {
            var ogg = $("<source>", {
                id: "ogg_source",
                type: "audio/ogg",
                src: ogg_url
            });
            ogg.appendTo(player);
        }

        if(mp3_url) {
            var mp3 = $("<source>", {
                id: "mp3_source",
                type: "audio/mp3",
                src: mp3_url
            });
            mp3.appendTo(player);
        }
        player.appendTo($("#audio_player_div"));
    }


    bindUpload();

    //preload and compile templates on page load
    //register hash changed listener
    //and call
    $(window).bind('hashchange', getViewData);
    
    $.when(getTemplateAjax(ARTISTLIST), getTemplateAjax(ARTISTALBUMS), getTemplateAjax(ALBUMLIST),
           getTemplateAjax(ALBUM), getTemplateAjax(TRACKLIST),
           getTemplateAjax(TRACKDROPDOWN, true,"trackDropdown"),
           getTemplateAjax(BOOTSTRAPALERT)).then(function() {
        getViewData();
    });

    $(document).on('dblclick', '.track_item',  function(obj) {
        rebuildAudioPlayer($(this).attr("ogg"), $(this).attr("mp3"));
    });

    bindDropdownMenuItems();


    // no alerts at the moment but leaving this here because they will get added back
    //The built in bootstrap close removes the alert div from the dom
    //and then it does not reappear since it's completely gone
    $('.alert .close').live('click',function(){
        $(this).parent().hide();
    });
});
</script>
{% endblock %}
