{% extends 'djukebox/base.html' %}
{% block other_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}djukebox/css/djukebox.css" />
{% endblock other_css %}

{% block jquery_scripts %}
<script type="text/javascript">
/* This could maybe be done better to pop up overlapping alerts or something */
$(document).ready(function() {
    var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
    var eventer = window[eventMethod];

    $("#track_upload").load(function() {
        var json = jQuery.parseJSON($('#track_upload').contents().text());

        $('#upload_status_alert').removeClass("alert-success alert-error");
        if(json.track_upload.status == "success") {
            $('#upload_status_message').text('Successfully uploaded ' + json.track_upload.title);
            $('#upload_status_alert').addClass("alert-success");
        } else {
            //For now just grab the first one.  Need to implement a better alert system
            //which can deal with multiple alerts at once
            $('#upload_status_message').text('Error uploading: ' + json.track_upload.errors[0]);
            $('#upload_status_alert').addClass("alert-error");
        }
        $('#upload_status_alert').show();
    });

    //The built in bootstrap close removes the alert div from the dom
    //and then it does not reappear since it's completely gone
    $('.alert .close').live('click',function(){
        $(this).parent().hide();
    });


    change_track_listener = function(e) {
        var track = e.data;
        var request_url = "{% url djukebox-list-streams %}" + track + "/";

        $.ajax({
          type: "POST",
          url: request_url,
          data: "",
          dataType: "json",
          success: function(data) {
          {% comment %}
          This used to work with detach(), but sometime recently
          that broke in both opera and firefox (ff12) although still worked
          in Chrome.  A full remove() and re add works right in opera and chrome
          but firefox is still buggy and gets stuck playing the same song
          over and over even though the dom elements show as updated in
          firebug and dragonfly
          {% endcomment %}
            $("#audio_player").remove();

            var player = $("<audio>", {
              id: "audio_player",
              controls: "controls",
              preload: "auto"
            });

            if(data.ogg) {
                var ogg = $("<source>", {
                    id: "ogg_source",
                    type: "audio/ogg",
                    src: data.ogg
                });
                ogg.appendTo(player);
            }

            if(data.mp3) {
                var mp3 = $("<source>", {
                    id: "mp3_source",
                    type: "audio/mp3",
                    src: data.mp3
                });
                mp3.appendTo(player);
            }

	    player.appendTo($("#audio_player_div"));
           }
        });
      }

    eventer("message", change_track_listener, false);
});

//special csrf stuff
jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>
{% endblock %}
{% block body %}
<div class="container" style="height: 90%">
  <div class="row" style="height: 100%">
    <div class="span2 sidebar">
      <ul class="nav nav-pills nav-stacked">
        <li><a target="content_view_frame" href="{% url djukebox-homeframe %}">Home</a></li>
        <li><a target="content_view_frame" href="{% url djukebox-albumlist %}">Albums</a></li>
        <li><a target="content_view_frame" href="{% url djukebox-artistlist %}">Artists</a></li>
        <li><a target="content_view_frame" href="{% url djukebox-tracklist %}">All Songs</a></li>
        <li><a target="content_view_frame" href="{% url djukebox-upload %}">Upload</a></li>
	<li><a href="{% url djukebox-logout %}">Logout</a></li>
      </ul>
    </div>
    <div class="span10" style="height: 100%">
      <iframe name="content_view_frame" class="main_iframe" frameborder="0" src="{{ content_view }}"></iframe>
    </div>
  </div>
  <div class="row-fluid" id="audio_player_div">
    <audio id="audio_player" preload="auto" controls="controls" autoplay="">
      <source id="ogg_source" type="audio/ogg" />
      <source id="mp3_source" type="audio/mp3" />
    </audio>
  </div>
  <div class="alert" style="display: none" id="upload_status_alert">
    <a class="close" href="#">&times;</a>
    <span id="upload_status_message"></span>
  </div>
</div>

<iframe id="track_upload" name="track_upload" src="{% url djukebox-upload %}" style="display: none"></iframe>
{% endblock %}
